@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

/** This is for making the Bootstrap tables fully white */
table, tbody, thead, tr, td, th {
  border: none !important;
  background-color: white !important;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFFFFF;
}

h1 {
  color:#EE7D33;
} 

h2 {
  color: #4472C4;
}

h3 {
  color: #4472C4;
}